<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">

<style>
#header{background-color:#fffdec;}
#nav ul,li{
margin:0px;
padding:0px;
}
#nav li{
text-align:center;
display:inline;
list-style:none;
list-style-position:outside;
text-align:center;
float:left;
}
.list a:link{
text-align:center;
color:#333;
text-decoration:none;
float:left;
width:100px;
}
.list a:visited{
text-align:center;
color:#333;
text-decoration:none;
float:left;
width:100px;
}
.list a:hover{
text-align:center;
color:#666;
float:left;
text-decoration:none;

}
.list a:active{
color:#999;
float:left;
width:100px;
text-decoration:none;
}
#nav{
	width:1000px;
	height:30px;
	border-bottom:0px;
	padding:0px 0px;
	position:absolute;
	z-index:1;
	top: 20px;
}
.list{
line-height:20px;
text-align:left;
padding:4px ;
font-weight:normal;
}
.menu1{
width:110px;
height:auto;
border-right:1px solid #EEE;
background-color:#FFF;
color:#666;
padding:6px 0px 0px 0px;
cursor:hand;
overflow-y:hidden;
-moz-opacity:0.7;
}
.menu2{
width:110px;
height:30px;
background-color:#FFF;
color:#666;
border-right:1px solid #EEE;
padding:6px 0px 0px 0px;
overflow-y:hidden;
cursor:hand;
}
#wrapper{position:;}
</style>



<!-- <div id="header"> -->
   <!--  <div id="logo" class="light-version" style="background:rgb(0,0,0);border:0 solid red;"><span name="search"><img src="/img/logo.png" width="200" height="40"></img></span></div> -->
    <!-- <nav role="navigation" style="display:block;height:2px;overflow:hidden;background-color:#fffdec)">
        <div class="small-logo">
			<span class="text-primary">THE BEAR STEARNS COS</span>
        </div>
        <form role="search" class="navbar-form-custom" method="post" action="#">
            <div class="form-group" style="width:800px;">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>
</head>

<body>
	</li>	
	</ul>
</div>
	</td>
   
  </tr>
</table> 

            </div>
        </form>
		
       
    </nav>
	<marquee  direction="left" loop='-1' scrollamount='5' style='display:block;overflow:hidden;margin-left:180px; z-index:100;color:#000;'>
		<span style='margin-left:5px;'> 总注册人数：{$result['reg_num']|default=0}</span>
		<span style='margin-left:5px;'>当前在线人数：{$result['user_up']|default=0}</span>
		<span style='margin-left:5px;'>提供金额：{$result['apply_money']|default=0}</span>
	<span style='margin-left:5px;'>需求金额：{$result['need_money']|default=0}</span>
	<span style='margin-left:5px;'>成功交易订单数：{$result['trade_num']|default=0}</span> 
	</marquee>
	
</div> -->