<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{$usertitle}</title>
		<link rel="stylesheet" href="/dist/css/swiper.min.css">
        <link rel="stylesheet" href="/css/style.css"> 
        <script src="http://www.caibaohezi.com/Public/home/js/share.js"></script>
		<link rel="stylesheet" href="/css/share_style1_32.css">
	</head>
	<body>
	  <!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="/wap_img/banner-1.png"></div>
            <div class="swiper-slide"><img src="/wap_img/banner-2.png"></div>
            <div class="swiper-slide"><img src="/wap_img/banner-3.png"></div>
            <div class="swiper-slide"><img src="/wap_img/banner-4.png"></div>
        </div>
         <div class="btn_box">
        	<a href="{:U('Login/login')}" style="border-right:1px solid #feb300">登录</a>
        	<a href="{:U('Login/register')}">注册</a>
        </div> 
    </div>
     <ul class="index_nav">
    	<li><a href="{:U('/Home/Index/home')}"><i><img src="/wap_img/icon1.png"></i><span>首页</span></a></li>
    	<li><a href="{:U('Home/Other/system')}"><i><img src="/wap_img/icon2.png"></i><span>平台制度</span></a></li>
    	<li><a href="{:U('Home/Other/guide')}"><i><img src="/wap_img/icon3.png"></i><span>新手指南</span></a></li>
    	<li><a href=""><i><img src="/wap_img/icon4.png"></i><span>联系客服</span></a></li>
    	<li><a href="{:U('Login/login')}"><i><img src="/wap_img/icon5.png"></i><span>幸运抽奖</span></a></li>
    	<li><a href="{:U('Login/login')}"><i><img src="/wap_img/icon6.png"></i><span>每日签到</span></a></li>
    	<li><a href="{:U('Login/login')}"><i><img src="/wap_img/icon7.png"></i><span>在线商城</span></a></li>
    	<li><a href="{:U('Login/login')}"><i><img src="/wap_img/icon8.png"></i><span>游戏互动</span></a></li>
    </ul>
    <div class="line" style="width:100%;height: 10px;background: #eee;"></div>
    <div class="content_con" style="padding-top:20px;padding-bottom: 20px;">
    	<h3 style="font-size:16px;line-height: 30px;color:#333;width:100%;text-align: center;">新手指南</h3>
    	<div class="system_con" style="text-indent:2em;padding-left: 15px;padding-right: 15px;text-align: justify;text-align: left;line-height: 30px;">
    		<p>不少企业设定了管理制度也只是放在资料柜的角落，在需要时拿出来读一下，而很多员工根本不清楚自己公司的管理制度。这种情况使公司的管理制度失去了其存在的实际意义，并形同虚设。
首先，并不排斥参照样本制定公司管理制度，因为有了参照才能让我们取长补短，切不可全部照抄，在制定管理制度时，首先应确认以下几方面，企业的行业性质、企业的工作性质、员工类别等等。
比如，广告公司由于行业性质决定了他们多数采用弹性工作制，所谓弹性工作制是指每周达到一定工作时间，但这些时间是可以由实际情况而安排的，并非严格的朝九晚五工时制。新的一些网络游戏开发公司也实施这种工作制。
另一方面，公司的管理制度会对员工的着装及发型等都会做明文规定，但由于行业性质的不同，比如广告、公关等等相关设计宣传类的公司就比较注重形象的前卫时尚，不会对员工的打扮做要求，而像金融业、服务业等等就会对员工的仪表做严格统一要求。</p>

    	</div>
    </div>
    
    <div class="bottom_box">
    	<div class="sharecon">
			<div class="bdsharebuttonbox bdshare-button-style1-32" data-bd-bind="1499151023586">
				<a href="index.html#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
				<a href="index.html#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
				<a href="index.html#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
				<a href="index.html#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
				<a href="index.html#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
			</div>
			<script>
				window._bd_share_config = {
					"common": {
						"bdSnsKey": {},
						"bdText": "",
						"bdMini": "2",
						"bdMiniList": false,
						"bdPic": "",
						"bdStyle": "1",
						"bdSize": "32"
					},
					"share": {}
				};
				with(document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
			</script> 
		</div>
    	<div class="link_con">
    		<a href="#">手机版</a>
    		<a href="#">电脑版</a>
    	</div>
    	<div class="rights"><p>Copyright  2017 V3财富 All Rights Reserved </p>
<p>京ICP备16039333号-6</p></div>
    </div>
    <style>
 
    </style> 
    
    
    
    
    <script src="/dist/js/swiper.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
    var swiper = new Swiper('.swiper-container', {
       
        paginationClickable: true,
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: 2500,
        autoplayDisableOnInteraction: false
    });
    </script>
	</body>
</html>
