<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
 
<link rel="stylesheet" href="/assets/vendor/bootstrap/dist/css/bootstrap.css">
 
<link href="/css/mui.min.css" rel="stylesheet" />
<link href="/css/style.css" rel="stylesheet" />
<script src="/cssmmm/jquery.min.js"></script>
  
<script src="/cssmmm/bootstrap.min.js"></script>

		<title>V3财富</title>
		<style>
.top_list{display:none;background:#4096ee;min-height:200px;width:150px;z-index:99;border-radius:0;position:fixed;top:45px;right:1px} 
.menu_active{display:block;}
.mui-table-view-cell{text-align: center;color:#fff;}
.sell_list {
			padding: 11px 15px;
			height: auto;
			overflow: hidden;
			background: #eee;
			border-top: 1px solid #ddd;
			margin: 0px;
			border-bottom: 1px solid #ddd;
			margin-bottom: 2px;
			margin-top: 10px;
		}
		
		.sell_list li {
			color: #8f8f94;
			font-size: 14px;
			line-height: 24px;
			padding-left: 10px;
			margin: 0px;
			overflow: hidden;
			height: auto;
		}
		
		.sell_list li i {
			width: 25%;
			float: left;
			font-style: normal;
		}
		
		.sell_list li span {
			padding-left: 10px;
			/*width: 72%;*/
			float: left;
			/*display: block;*/
		}	
		.btn-xs {
    border-radius: 3px;
    font-size: 11px;
    line-height: 1.5;
    padding: 1px 7px;
}	</style>
	</head>
	<body style="background: #fff;">
		<header class="mui-bar mui-bar-nav" style="background: #4096ee;">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color:#fff;"></a>
			<h1 class="mui-title" style="color:#fff;">接受帮助匹配记录</h1>
			<a id="menu" class="mui-action-menu mui-icon mui-icon-bars mui-pull-right menu" style="color:#fff;font-weight: bold;"></a>
		</header>
		<!--右上角弹出菜单-->
	<include file="Public/menu" />
 	     
 	    <div class="content_con">
			 			 <foreach name='list3' item='v3'>
				<ul class="sell_list">
					<li><i>订单编号：</i><span>R{$v3.id}</span></li>
					<li><i>匹配状态：</i><span> <if condition="$v3.zt eq 0" >待付款</if>
                                            <if condition="$v3.zt eq 1" >已付款</if>
                                            <if condition="$v3.zt eq 2" >交易成功</if></span></li>
					<li><i>交易时间：</i>
						<span><small>配对时间：{$a1=$v3.date}<br><div style="display: none">{$aab=$v3.p_user}</div></small>
                                      <if condition="$v3.zt eq 0" ><small>到期打款时间：{$aa1|datedqsj=$a1,###}<br>
                                      <div style="display: none">{$aab=$v3.p_user}</div></small>
                                      <small> <span>倒计时：</span>
                                        <span id="t_d{$v3.id}">00天</span>
                                        <span id="t_h{$v3.id}">00时</span>
                                        <span id="t_m{$v3.id}">00分</span>
                                        <span id="t_s{$v3.id}">00秒</span>
                                    </small><br>
                                    <script>
                                        $(function(){
                                           // GetRTime({$v3.id},'{$aaa1|datedqsj_2=$aa1,###}');
                                            
                                            setInterval("GetRTime('{$v3.id}','{$aa1|datedqsj=$a1,###}')",1000);
                                        });
                                    </script>
                                      
                                      </if>

                                      <if condition="$v3.zt eq 1">
                                       <small> 汇款时间：{$aa1=$v3.date_hk}<div style="display: none">{$aab=$v3.p_user}</div></small>
                                      <br><small> 到期确认时间：{$aaa1|datedqsj=$aa1,###}<div style="display: none">{$aab=$v3.p_user}</div></small>
                                      <br>
                                      <small><!-- <i class="fa fa-clock-o"></i> --> 倒计时：
                                        <b id="t_d{$v3.id}">00天</b>
                                        <b id="t_h{$v3.id}">00时</b>
                                        <b id="t_m{$v3.id}">00分</b>
                                        <b id="t_s{$v3.id}">00秒</b>
                                      </small>
                                    <script>
                                        $(function(){
                                            
                                            setInterval("GetRTime('{$v3.id}','{$aaa1|datedqsj_2=$aa1,###}')",1000);
                                        });
                                    </script>
                                      </if></span></li>
					<li><i>打款人：</i><span>{$v3.p_user}</span></li>
					<li><i>支付方式：</i><span><if condition="$v3.zffs1 eq 1" >银行</if>
                                           <if condition="$v3.zffs2 eq 1" >支付宝</if>
                                          <if condition="$v3.zffs3 eq 1" >微信</if></span></li>
					<li><i>收款人：</i><span>YOU</span></li>
					<li><i>金额：</i><span>{$v3.jb}人民币
						<a href="/{$v3.pic}" target="_blank" style="float:right;color:#fff;background:#0261aa;border:1px solid #ddd;padding-left:10px;padding-right: 10px;">
						</a></span></li>
					<li><i>操作：</i><span style="width:70%;float: left;">
					  <input style="width:80px;height:24px;line-height: 24px;padding:0px;margin:0px;background:#3498db;color:#fff;" name="btn1" id="btn3{$v3.id}" type="button" value=" 留言 "   data-toggle="modal" data-id="8802104" data-target="#myModal7">
                                        <input style="width:80px;height:24px;line-height: 24px;padding:0px;margin:0px;background: #3498db;color:#fff;" name="btn1" id="btn4{$v3.id}" type="button" value="详细资料" data-toggle="modal" id="btn12" data-target="#myModal5" >
<eq name="v3.zt" value="1">
    <eq name="v3.ts_zt" value="3" >
    <!-- 12小时未确认收款,<br/>
    已被投诉,请联系对<br/>
    方取消投诉! -->
    <!-- 未按时收款 -->
     <input style="width:80px;height:24px;line-height: 24px;padding:0px;margin:0px;background:#3498db;color:#fff;" type="button" value=" 未按时收款 "><br>
    <else/>
    <input style="width:80px;height:24px;line-height: 24px;padding:0px;margin:0px;background:#3498db;color:#fff;" name="btn23" id="btn23{$v3.id}" type="button" value="确认收款" class="btn_detail btn-primary btn-xs" data-toggle="modal"  data-target="#myModa23">
    <!-- <input style="width:80px;" name="btn23" id="btn23{$v3.id}" type="button" value="确认收款" class="btn_detail btn-primary btn-xs" data-toggle=""  data-target=""> -->
    </eq>
</div>
<script>
$(function(){
$('#btn23{$v3.id}').click(function(){
 $("#mainframe188",parent.document.body).attr("src","/Home/Index/home_ddxx_gcz/id/{$v3.id}/") 
$("#mainframe188").reload(); 
	/* if(confirm("请您确认已经收款！")){
        $.post('/Home/Index/home_ddxx_gcz_cl/',{
        id:'{$v3.id}'
        },
        function(data){
            alert(data);
            window.location.reload();
        }
        );} */
})
})
</script>
</eq>
 




                                       

						</span>
					</li>
					
					 <script>
$(function(){



$('#btn4{$v3.id}').click(function(){
$("#mainframe11",parent.document.body).attr("src","/Home/Index/home_ddxx/id/{$v3.id}/") 
$("#mainframe11").reload();
})


$('#btn3{$v3.id}').click(function(){
$("#mainframe12",parent.document.body).attr("src","/Home/Index/home_ddxx_ly/id/{$v3.id}/") 
$("#mainframe12").reload();
})
})


</script>
      <script>
                                                        function GetRTime(id, date) {
                                                            var EndTime = new Date(date);
                                                            var NowTime = new Date();
                                                            var t = EndTime.getTime() - NowTime.getTime();
                                                            var d = 0;
                                                            var h = 0;
                                                            var m = 0;
                                                            var s = 0;
                                                            if (t >= 0) {
                                                                d = Math.floor(t / 1000 / 60 / 60 / 24);
                                                                h = Math.floor(t / 1000 / 60 / 60 % 24);
                                                                m = Math.floor(t / 1000 / 60 % 60);
                                                                s = Math.floor(t / 1000 % 60);
                                                            }


                                                            document.getElementById("t_d" + id).innerHTML = d + "天";
                                                            document.getElementById("t_h" + id).innerHTML = h + "时";
                                                            document.getElementById("t_m" + id).innerHTML = m + "分";
                                                            document.getElementById("t_s" + id).innerHTML = s + "秒";
                                                        }

                                                        function GetATime(id, date) {


                                                            l = Math.floor(date / 24 / 3600);

                                                            c = new Date();
                                                            var p = c.getTime();
                                                            p = Math.floor(p / 1000 / 24 / 3600);
                                                            t = p - l;

                                                            var d = 0;
                                                            if (t >= 0) {

                                                                d = t + 1;
                                                            }

                                                            document.getElementById("c_d" + id).innerHTML = d + "天";
                                                        }

                                                        function GetBTime(id, date) {
                                                            l = Math.floor(date / 24 / 3600);

                                                            c = new Date();
                                                            var p = c.getTime();
                                                            p = Math.floor(p / 1000 / 24 / 3600);
                                                            t = p - l;

                                                            var d = 0;
                                                            if (t >= 0) {

                                                                d = t + 1;
                                                            }

                                                            document.getElementById("p_d" + id).innerHTML = d + "天";
                                                        }
            </script>
				</ul>
			</foreach>
		</div>
		 
	<include file="Public/footer" />
		<script src="/js/mui.js"></script>
	<script src="/js/jquery-1.11.3.min.js"></script>
	<script>
			$(".menu").click(function(){
				 
				$(".top_list").toggleClass("menu_active");
				 
			});

		</script>

		<div class="modal fade" id="myModal7" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="color-line"></div>
					<div class="modal-header">
						<h5 class="modal-title" id="title2">留言信息</h5>
						<small class="font-bold"></small>
					</div>
					<div class="modal-body" style="height:300px; overflow:auto">
						<iframe src='' id="mainframe12" width="100%;" height="350px;"></iframe>
		
					</div>
					<div class="modal-footer">
						<button type="button" class="btn-default" data-dismiss="modal">关闭</button>
					</div>
				</div>
			</div>
		</div>
		
		<div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-hidden="true">
		    <div class="modal-dialog modal-lg">
		        <div class="modal-content">
		            <div class="color-line"></div>
		            <div class="modal-header">
		                <h5 class="modal-title" id="title">匹配订单详细信息</h5>
		                <small class="font-bold"></small>
		            </div>
		            <div class="modal-body" style="height:400px; overflow:auto">
		              <iframe src='' id="mainframe11" width="830px;" height="350px;" ></iframe>
		            </div>
		            <div class="modal-footer">
		                <button type="button" class="btn-default" data-dismiss="modal">关闭</button>
		            </div>
		        </div>
		    </div>
		</div>
		<div class="modal fade" id="myModa23" tabindex="-1" role="dialog" aria-hidden="true">
		    <div class="modal-dialog modal-lg">
		        <div class="modal-content">
		
		            <div class="color-line"></div>
		            <div class="modal-header">
		                <h5 class="modal-title" id="title23">请选择</h5>
		                <small class="font-bold"></small>
		            </div>
		            <div class="modal-body" style="height:400px; overflow:auto">
		              <iframe src='' id="mainframe188" width="830px;" height="350px;" ></iframe>
		            </div>
		            <div class="modal-footer">
		                
		                  <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
		                <!--  
		                <button type="button" class="btn-primary" data-dismiss="modal" id="select_fanshi">确认</button>-->
		            </div>
		
		
		
		        </div>
		    </div>
		</div>
	</body>
	
</html>
