<div id="topPopover" class="top_list" >
			 
			 
					<ul class="mui-table-view" style="background: none;">
						<li class="mui-table-view-cell">
							<a href="{:U('/Home/Index/jsbzjl')}">接受帮助匹配记录</a>
						</li>
					
						<li class="mui-table-view-cell">
							<a href="{:U('/Home/Index/sqbzjl')}">申请帮助匹配记录</a>
						</li>
						<li class="mui-table-view-cell">
							<a href="{:U('/Home/Index/sell_record')}">接受帮助等待记录</a>
						</li>
						<li class="mui-table-view-cell">
							<a href="{:U('/Home/Index/buy_record')}">申请帮助等待记录</a>
						</li>
						<li class="mui-table-view-cell">
							<a href="javascript:alert('暂时未开放！')">游戏互动</a>
						</li>
					
					</ul>
				 

		</div>